<% content_for :title do %> About <%end%>
<h3>About  Álvaro Felipe Melchor</h3>
<p>Me llamo Álvaro Felipe Melchor y nací en Alcalá de Henares. Actualmente estoy estudiando ingeniería de telecomunicaciones</p>	